*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    padding:20px;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.box{
    background:white;
    border:1px solid #ccc;
}

.box img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.box h3{
    padding:10px;
}

.box p{
    padding:0 10px 10px;
}

.box ul{
    list-style:none;
}

.box li{
    padding:10px;
    border-top:1px solid #ddd;
}
